html {
    font-family: 'Ubuntu';

    font-size: 16px;

    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;

    font-size: inherit;
}

[class*="__container"] {
    max-width: 56.25rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.collection {
    list-style: none;

    margin: 0;
    padding: 0;
}



.section__container {
    text-align: center;
}

.section-heading {
    font-size: 30px;
    font-weight: 400;
}

.ex01-form-btn {

    padding: 0;

    position: absolute;

    right: 0.875rem;
    top: 50%;
    transform: translateY(-50%);
    display: block;

    cursor: pointer;

    outline: none;
    border: none;
    background-color: transparent;
    transition: transform 200ms ease-in-out;
}

.ex01-submit-btn {
    border: none;

    margin: 0;
    padding: 0;
    padding: 0.375rem 5.625rem;
    background-color: #D1AB44;


    box-shadow: 0.0625rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8125rem;
    color: #FFF;

    border-radius: 1.875rem;

    transition: transform 200ms ease-in;
}

.ex01-submit-btn:hover {
    transform: scale(1.05);
}

.alternative-sign-up-btn {

    display: block;
    margin: 0;
    padding: 0;

    width: 52px;
    height: 52px;

    border: none;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;



}

.facebook-sign-up-btn {
    background-image:
        url(../img/ico/facebook.svg),
        linear-gradient(90deg,
            #B27F2A -20.3%,
            #B7862E -8.63%,
            #C49939 8.13%,
            #DAB84C 27.87%,
            #F4DD62 47.19%,
            #F4E38B 84.2%,
            #F4DD62 113.6%,
            #B27F2A 182.18%);
}

.google-sign-up-btn {
    background-image:
        url(../img/ico/google.svg),
        linear-gradient(90deg,
            #B27F2A -20.3%,
            #B7862E -8.63%,
            #C49939 8.13%,
            #DAB84C 27.87%,
            #F4DD62 47.19%,
            #F4E38B 84.2%,
            #F4DD62 113.6%,
            #B27F2A 182.18%);
}