.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1.875rem;
    position: relative;

    margin-bottom: 1.875rem;
}

.logo::before,
.logo::after {
    content: "";
    display: block;
    width: 1.5625rem;
    height: 1.5625rem;

    transform: skewY(-15deg);
}

.logo::before {
    background-color: rgba(0, 98, 255, 0.85);
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    z-index: 1;
}

.logo::after {
    background-color: rgba(246, 255, 0, 01);

}


.site-caption {


    position: relative;

    font-size: 1.7rem;
    font-weight: 700;
}

.site-caption::before {
    content: "";
    display: block;
    width: 0.125rem;
    height: 150%;
    background-color: #3376e2;

    position: absolute;

    left: -1.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.color-scheme__list {

    display: flex;


    border-radius: 5px;
    /* overflow: hidden; */
}



.color-scheme-list__sample {

    display: block;
    width: 2.1875rem;
    height: 0.9375rem;

    cursor: pointer;

    transition: transform 200ms ease-out;
}

.color-scheme-list__sample:hover {
    transform: scale(1.1);
}

.color-scheme-list__radio:checked+.color-scheme-list__sample {
    border: 1px solid rgb(0, 0, 0);
    transform: scale(1.3);
}

.color-scheme-list__sample[for="3376e2"] {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-color: #3376e2;
}

.color-scheme-list__sample[for="01133d"] {
    background-color: #01133d;
}

.color-scheme-list__sample[for="344264"] {
    background-color: #344264;
}

.color-scheme-list__sample[for="67718b"] {
    background-color: #67718b;
}

.color-scheme-list__sample[for="99a1b1"] {
    background-color: #99a1b1;
}

.color-scheme-list__sample[for="ccd0d8"] {
    background-color: #ccd0d8;
}

.color-scheme-list__sample[for="ebecf0"] {
    background-color: #ebecf0;
}

.color-scheme-list__sample[for="f5f6f7"] {
    background-color: #f5f6f7;
}

.color-scheme-list__sample[for="ffffff"] {
    background-color: #fff;
}

.color-scheme-list__sample[for="ff6b62"] {

    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #ff6b62;
}